@charset "UTF-8";
body{
        background-color: lemonchiffon;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
       }
       h1{
        color: black;
        background-color:gray;
       }
       h2{
        color:blue;
       }
       p{
        text-align: justify;
       }